<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg (%-5level %logger{36} %t)%n" />
    </Console>
    <RollingFile name="file" fileName="/tmp/agendoc.log" filePattern="/tmp/agendoc-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
      <PatternLayout pattern="%msg (%logger{36}) - %-5level [%t] - %d{yyyy-mm-dd HH:mm:ss.SSS} %n"/>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="file" />
            <AppenderRef ref="console" level="info" />
    </Root>
    </Loggers>
</Configuration>
